/*use element selector to select all p elements for this style*/
p{
    color: red;
    font-size: 22px;
}

h3{   
    text-align: center;
    text-decoration: underline;
}

h2{   
    text-decoration: underline;  
}

.body_container
{
    font-size: 12px;
    color: blue;
    margin: 8px auto;
    /*border-radius: 25px;*/
    background: linear-gradient(to right, rgba(0,0,255,0.2), rgba(0,0,255,0.5));
    padding: 20px;
}

.login_container{
    
    width: 500px;
    margin: 18px auto;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(0,0,255,0.2), rgba(0,0,255,0.5));
    padding: 8px;
}

/* The starting CSS styles for the fading class animation */
.fading.ng-enter {
    transition: 3s;
    opacity:0;
}

/* The finishing CSS styles for the fading class animation */
.fading.ng-enter.ng-enter-active {
    opacity:1;
}



