
<!--<p class="error"></p>-->

<div class=login_container>
    <h3>Login or Register to Angular App!</h3>
    <form>
        <!--ng-model directive is the way to tarnsfer data to controller -->
        <input type="text" placeholder="username" class="form-control" ng-model="user"><br/>
        <input type="password" placeholder="password" class="form-control" ng-model='pass'><br/>
        <input type="button" value="Login" class="btn btn-default" ng-click='loginClicked(); bool=true'>
        <input type="button" value="Register" class="btn btn-default" ng-click='registerClicked(); bool=true' >
        <!--bind the data from username textfield (use the variable 'user')-->
    <!--    <p>{{user}}</p>-->
    </form>

    <div ng-if="bool" class="fading">
        <h3><p class="status"></p></h3>
    </div>
    
</div>
