
<!--<p class="error"></p>-->

<div class="loginbody_container">
    <h1 class="pagetitle">Login or Register to Angular App!</h1>
    <form>
        <!--ng-model directive is the way to tarnsfer data to controller -->
        <input type="text" placeholder="username" class="form-control" ng-model="user">
        <input type="password" placeholder="password" class="form-control" ng-model='pass'>
        <input type="button" value="Login" class="btn btn-primary" ng-click='loginClicked()'>
        <input type="button" value="Register" class="btn btn-primary" ng-click='registerClicked()' >

        <!--bind the data from username textfield (use the variable 'user')-->
    <!--    <p>{{user}}</p>-->
    </form>
    <br><br>

    <div class="flash-style" flash-message="2000"></div> 
    
</div>
