<div class="loginbody_container">
    <h2>Modify/Delete Person</h2>
    <nav id="head"></nav>
    <h4>Name</h4>
    <input id='name' type='text' class="form-control text-left" style = "width:250px" ng-model= "name"/>
    <h4>Address</h4>
    <input id='address' type='text' class="form-control text-left" style = "width:250px" ng-model= "address"/>
    <h4>Age</h4>
    <input id='age' type='number' min="0" class="form-control text-left" style = "width:80px" ng-model= "age"/><br>
    <input type='button' class='btn btn-primary' value='Update' ng-click='updateClicked()'/>
    <input type='button' class='btn btn-primary' value='Delete' ng-click='deleteClicked()'/>
    <input type="button" class="btn btn-primary" value="Home" ng-click='homeClicked()'/>
</div>